* { box-sizing: inherit; }

body {
	background-color: #000;
	color: #eee;
	font-family: serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
}

header {
	background-color: #333;
	width: 100%;
	margin-bottom: 60px;
}

main, header h1 {
	margin: 0 auto;
	text-align: left;
	width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2 {
	margin-bottom: 20px;
}

h1, h2, .project {
	background-color: #333;
	padding: 20px;
}

.project {
	margin-bottom: 60px;
	
	> * {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

// Typographical formatting
h1 { font-size: 3em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.6em; padding: 0; }
p {
	padding: 0;
	margin: 0;
}
a {
	color: turquoise;
}
ul {
	padding-left: 30px;
}
li:not(:last-child) {
	margin-bottom: 4px;
}

.left  { float: left; margin-right: 20px; }
.right { float: right; margin-left: 20px; }
.center { text-align: center; }
.clearfix { clear: both; }

pre {
	margin: 0;
}
code.hljs {
	padding: 1em;
	max-height: 800px;
	overflow-y: auto;
}
